@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #7728ab;
    padding: 20px 0;
}

.logo {
    font-weight: bold;
    font-size: 2em;
    color: #f24783;
    font-family: 'Poppins', sans-serif;
}

header nav a{
    color: #ffffff;
    margin: 0 0 0 15px;
    padding: 15px;
}

.container {
    width: 94%;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.space-between{
    justify-content: space-between;
    align-items: center;
}

h1:hover {
    color: #ffffff;
    font-size: 2.3em;
    cursor: pointer;
}

a:hover {
    color: #f24783;
    cursor: pointer;
} 

.bg-banner {
    background-image: url("banner.png");
    background-size: cover;
    background-position: center;
    min-height: 50vh;
    margin-top: 10px;

}

/* .text-banner {
    text-align: left;
    color: #ffffff;
    background-color: #7728abcc;
    min-height: 50vh ;
}

.button-banner {
    padding: 5px;
    border: none;
    border-radius: 5px;
    color:#ffffff;
    background-color: #f24783;
} */

footer {
    background-color: #7728ab;
    color: #ffffff;
    width: 100%;
    position: fixed;
    bottom:0;
    left:0;
}

footer p {
    text-align: center;
}


@media (max-width: 700px){
    h1 {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

